[data-scroll] {
  transition: opacity 1s;
}
[data-scroll="in"] {
  opacity: 1;
}
[data-scroll="out"] {
  opacity: 0;
}

:root {
  --gray-50: #ecf0f1;
  --gray-200: #bdc3c7;
  --gray-700: #7f8c8d;
  --black: #34495e;
  --yellow-50: #f1c40f;
  --green-50: #1abc9c;
  --green-200: #16a085;
  --red: #e74c3c;
  --blue: #21569c;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--gray-50);
  color: var(--black);
}

a {
  color: inherit;
  text-decoration: none;
}
