.container {
  max-width: 1080px;
  width: 96%;
  padding: 6px;
  margin: auto;
}

header {
  border-bottom: 1px solid var(--yellow-50);
}

header .container {
  width: 100%;
  padding: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container img {
  width: 50px;
}

header .container nav a {
  font-size: 1.2rem;
  padding: 6px;
  color: var(--blue-700);
  -webkit-transition: color .3s ease-in;
  transition: color .3s ease-in;
  position: relative;
}

header .container nav a:hover {
  color: var(--blue-600);
}

header .container nav a:hover::after {
  content: "";
  width: 100%;
  height: 2px;
  background: var(--blue-600);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-animation: headerBar .3s linear;
          animation: headerBar .3s linear;
}

@-webkit-keyframes headerBar {
  0% {
    width: 0;
    left: 50%;
    right: 50%;
  }
  100% {
    width: 100%;
    left: 0;
    right: 0;
  }
}

@keyframes headerBar {
  0% {
    width: 0;
    left: 50%;
    right: 50%;
  }
  100% {
    width: 100%;
    left: 0;
    right: 0;
  }
}

footer {
  padding: 15px 0;
  border-top: 1px solid var(--yellow-50);
  -webkit-box-shadow: 1px 1px 5px var(--yellow-50);
          box-shadow: 1px 1px 5px var(--yellow-50);
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .container p {
  text-align: center;
}

footer .container p a {
  color: var(--blue-700);
  font-weight: bold;
  -webkit-transition: color .3s ease-in;
  transition: color .3s ease-in;
}

footer .container p a:hover {
  color: var(--blue-600);
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: calc(100vh - 62px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url("./assets/img/banner.jpg") no-repeat center fixed;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .banner {
    background: url("./assets/img/banner2x.jpg") no-repeat bottom fixed;
    background-size: cover;
  }
}

.banner .backdrop {
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/opacity/see-through */
  margin: auto;
  padding: 6px;
  width: 100%;
  min-height: calc(100vh - 62px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}

.banner .backdrop h1 {
  margin-top: auto;
  color: var(--yellow-50);
  font-size: 2.4rem;
  line-height: 3rem;
  text-align: center;
  max-width: 500px;
  padding: 6px;
}

.banner .backdrop p {
  color: var(--gray-50);
  font-size: 1.8rem;
  line-height: 2.4rem;
  text-align: center;
  max-width: 700px;
  padding: 6px;
}

.banner .backdrop .next-section {
  margin-top: auto;
  padding: 16px;
}

.banner .backdrop .next-section a {
  color: var(--yellow-50);
}

.banner .backdrop .next-section a svg {
  width: 40px;
  -webkit-transition: -webkit-transform .3s ease-in;
  transition: -webkit-transform .3s ease-in;
  transition: transform .3s ease-in;
  transition: transform .3s ease-in, -webkit-transform .3s ease-in;
}

.banner .backdrop .next-section a:hover svg {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.divider {
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.divider svg {
  position: relative;
  display: block;
  width: calc(114% + 1.3px);
  height: 43px;
  z-index: 2;
}

.divider svg .fill {
  fill: var(--gray-50);
}

#problem {
  padding: 65px 0;
  background: #e74c3c;
  background: linear-gradient(317deg, #e74c3c 0%, #9c2619 92%);
  position: relative;
}

#problem .divider {
  bottom: 0;
}

#problem .grid .description {
  color: var(--gray-50);
}

#solution {
  position: relative;
  background: #0028b3;
  background: -webkit-gradient(linear, right top, left top, from(#0028b3), to(#2656ff));
  background: linear-gradient(270deg, #0028b3 0%, #2656ff 100%);
  padding: 100px 0;
}

#solution .divider {
  margin-top: -143px;
}

#solution .divider:nth-child(3) {
  bottom: 0px;
  margin-top: 0;
}

#solution .grid .description {
  color: var(--gray-50);
}

.objetivo {
  margin-top: -60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

.objetivo div {
  background: var(--gray-50);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 260px;
  padding: 6px;
  border-radius: 2px;
  border: 1px var(--yellow-50) solid;
  -webkit-box-shadow: 0px 3px 5px var(--gray-700);
          box-shadow: 0px 3px 5px var(--gray-700);
}

.objetivo div h3 {
  padding: 6px;
}

.objetivo div p {
  text-align: center;
}

.grid {
  padding: 15px 6px 15px 6px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.image img {
  width: 60%;
  margin: auto;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.description h2 {
  font-size: 1.8rem;
  line-height: 2.4rem;
}

.description p {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.description a {
  padding-top: 5px;
  -webkit-transition: color .1s ease-in-out;
  transition: color .1s ease-in-out;
}

.description a:hover {
  color: var(--gray-200);
}

.animate-openLoad {
  opacity: 1;
  -webkit-animation: openLoad 1s linear;
          animation: openLoad 1s linear;
}

.animate-openLoad:nth-child(2n) {
  -webkit-animation: openLoad-reverse 1s linear;
          animation: openLoad-reverse 1s linear;
}

@-webkit-keyframes openLoad {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes openLoad {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes openLoad-reverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes openLoad-reverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.platform {
  padding: 35px 0;
}

.platform div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 5px 0;
  border-radius: 2px;
  border: 1px solid var(--green-50);
  overflow: hidden;
}

.platform div span {
  color: var(--green-200);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 6px;
  background: var(--green-50);
}

.platform div span svg {
  margin: auto;
}

.platform div p {
  padding: 6px;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.loader {
  position: fixed;
  overflow: hidden;
  z-index: 999;
  top: 0;
  left: 0;
  width: 0;
  height: 100vh;
  -webkit-transition: width 0s 1.4s ease;
  transition: width 0s 1.4s ease;
}

.loader .loader__icon {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  opacity: 0;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
}

.loader .loader__icon svg {
  color: var(--yellow-50);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

.loader .loader__tile {
  position: absolute;
  left: 0;
  width: 0;
  height: 20%;
  background-color: var(--blue-700);
  -webkit-transition: width .7s ease;
  transition: width .7s ease;
}

.loader .loader__tile:nth-child(0) {
  top: calc(-1 * 20%);
  -webkit-transition-delay: -0.2s;
          transition-delay: -0.2s;
}

.loader .loader__tile:nth-child(1) {
  top: calc(0 * 20%);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.loader .loader__tile:nth-child(2) {
  top: calc(1 * 20%);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.loader .loader__tile:nth-child(3) {
  top: calc(2 * 20%);
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.loader .loader__tile:nth-child(4) {
  top: calc(3 * 20%);
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.loader .loader__tile:nth-child(5) {
  top: calc(4 * 20%);
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

.loader--active {
  display: block;
  width: 100%;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.loader--active .loader__icon {
  opacity: 1;
  -webkit-transition: opacity .5s 1.4s ease;
  transition: opacity .5s 1.4s ease;
}

.loader--active .loader__tile {
  width: 100%;
}

.loader--active .loader__tile:nth-child(0) {
  -webkit-transition-delay: -0.2s;
          transition-delay: -0.2s;
}

.loader--active .loader__tile:nth-child(1) {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.loader--active .loader__tile:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.loader--active .loader__tile:nth-child(3) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.loader--active .loader__tile:nth-child(4) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.loader--active .loader__tile:nth-child(5) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

#contact {
  padding: 100px 0;
  position: relative;
  color: var(--blue-700);
}

#contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("./assets/img/books.jpg") fixed;
  -webkit-filter: grayscale(100%) contrast(0.5);
          filter: grayscale(100%) contrast(0.5);
  z-index: -1;
}

#contact .divider {
  margin-top: -100px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

#contact .divider:nth-child(3) {
  bottom: 0px;
  margin-top: 0;
}

#contact .container {
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}

#contact .container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

#contact .container form .input {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  position: relative;
  padding-top: 10px;
}

#contact .container form .input + .input {
  margin-top: 15px;
}

#contact .container form .input .input_label {
  color: var(--blue-700);
  position: absolute;
  top: 10px;
  left: 0px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 1rem;
  line-height: 2rem;
}

#contact .container form .input .input_field {
  z-index: 1;
  background-color: transparent;
  color: var(--blue-700);
  border-bottom: 2px solid var(--blue-700);
  font-size: 1rem;
  line-height: 2rem;
}

#contact .container form .input .input_field:focus, #contact .container form .input .input_field:not(:placeholder-shown) {
  border-bottom-color: var(--blue-600);
}

#contact .container form .input .input_field:not(:placeholder-shown):invalid, #contact .container form .input .input_field:not(:placeholder-shown):invalid ~ .input_label {
  border-bottom-color: var(--red);
}

#contact .container form .input .input_field:not(:placeholder-shown):invalid ~ .input_label {
  color: var(--red);
}

#contact .container form .input .input_field:focus ~ .input_label,
#contact .container form .input .input_field:not(:placeholder-shown) ~ .input_label {
  color: var(--blue-600);
  -webkit-transform: translateY(-25px) translateX(0px) scale(0.9);
          transform: translateY(-25px) translateX(0px) scale(0.9);
}

#contact .container form .submit {
  width: 100%;
  height: 50px;
  max-width: 320px;
  margin-top: 28px;
  background-color: var(--blue-700);
  border-radius: 3px;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #eee;
  font-size: 1.2rem;
  cursor: pointer;
  text-align: center;
  -webkit-transition: background .3s ease-in;
  transition: background .3s ease-in;
}

#contact .container form .submit:disabled {
  cursor: not-allowed;
}

#contact .container form .submit:not(:disabled):hover {
  background-color: var(--blue-600);
}

#contact .container form .submit .disabled {
  display: none;
}
/*# sourceMappingURL=style.css.map */